<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ca" >
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="David Hernández, David Canudes, Saida Javierre" />
	<meta name="keywords" content="gratacels, estils, arquitectes, materials" />
	<meta name="description" content="Creació nou estil arquitectónic" />
	<meta name="robots" content="all" />
	<title>Gratacels DataBase: Creació nou gratacel</title>

	<style type="text/css" title="./currentStyle" media="all">
		@import "/static/global.css";
	</style>
	<script type="text/javascript" src="/static/myJs.js"></script>
</head>

<body>
<script type="text/javascript"> capPagina();</script>



<h1>Creació nou gratacel</h1>
<form name=addgratacel>
Nom: <input TYPE=text maxlength="25"><br/>
Altura (m): <input TYPE=text maxlength="4"><br/>
Altura terrat (m): <input TYPE=text maxlength="4"><br/>
Número de plantes: <input TYPE=text maxlength="3"><br/>
Ciutat: <input TYPE=text maxlength="25"><br/>
Any d'inici de construcció: <input TYPE=text maxlength="4"><br/>
Estil arquitectonic: <input TYPE=select><br/>
Posició ranquing: <input TYPE=text maxlength="3"><br/>
Arquitectes:
Materials:
Imatge: <input TYPE=text><br/>
</form>

<script type="text/javascript"> peuPagina();</script>
</body>
</html>
