{% extends "base.html"%}

{% block head %}
	<meta name="keywords" content="gratacels, estils, arquitectes, materials" />
	<meta name="description" content="Dades de l'arquitecte" />
	<meta name="robots" content="all" />
	<title>Gratacels DataBase: {{arquitecte.cognom}}, {{arquitecte.nom}}</title>
{% endblock %}
{% block content %}
	
<img id="fotoarquitecte" src="/static/img/{{arquitecte.imatge}}" alt="fotografia del arquitecte {{arquitecte.nom}}" />

<h1>Dades del Arquitecte {{arquitecte.cognom}}, {{arquitecte.nom}}</h1>

<ul>
<li>Nom: {{arquitecte.nom}}</li>
<li>Cognom: {{arquitecte.cognom}}</li>
<li>Data Naixement: {{arquitecte.data_naixement}}</li>
<li>Data Defuncio: {{arquitecte.data_defuncio}}</li>
<li>Nacionalitat: {{arquitecte.nacionalitat}}</li>
</ul>


<h2>Gratacels construits:</h2>
{% if gratacels %}
<ol>
{% for gratacel in gratacels %}
<li>
<a href="/gratacel/{{gratacel.idGratacel}}">{{gratacel.nom}}</a> - {{ gratacel.ciutat}} - {{ gratacel.altura }}m
</li>
{% endfor %}
</ol>
{% else %}
<p>No ha construit gratacels.</p>
{% endif %}
{% endblock %}
