<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ca" >
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="David Hernández, David Canudes, Saida Javierre" />
	<meta name="keywords" content="gratacels, estils, arquitectes, materials" />
	<meta name="description" content="Dades de l'arquitecte" />
	<meta name="robots" content="all" />
	<title>Gratacels DataBase: Dades de l'arquitecte</title>

	<style type="text/css" title="./currentStyle" media="all">
		@import "/static/global.css";
	</style>
	<script type="text/javascript" src="/static/myJs.js"></script>
</head>

<body>
<script type="text/javascript"> capPagina();</script>

<img id="fotoarquitecte" src="/static/img/{{arquitecte.imatge}}" alt="fotografia del arquitecte {{arquitecte.nom}}" />

<h1>Dades del Arquitecte</h1>

<ul>
<li>Nom: {{arquitecte.nom}}</li>
<li>Cognom: {{arquitecte.cognom}}</li>
<li>Data Naixement: {{arquitecte.data_naixement}}</li>
<li>Data Defuncio: {{arquitecte.data_defuncio}}</li>
<li>Nacionalitat: {{arquitecte.nacionalitat}}</li>
</ul>


<h2>Gratacels construits:</h2>
{% if gratacels %}
<ol>
{% for gratacel in gratacels %}
<li>
<a href="/gratacel/{{gratacel.idGratacel}}">{{gratacel.nom}}</a> - {{ gratacel.ciutat}} - {{ gratacel.altura }}m
</li>
{% endfor %}
</ol>
{% else %}
<p>No ha construit gratacels.</p>
{% endif %}
<script type="text/javascript"> peuPagina();</script>
</html>
