<html>
<head>
<title>{{ nom }} Gratacel</title>
</head>
<body>
<h1>Gratacels construits per {{ nom }}</h1>
{% if gratacels %}
<table>
<thead style="font-style:italitc;">
<tr><td>Nom Gratacels</td><td>Ciutat del Gratacels</td><td>Alçada Gratacels</td><td></tr><tr>
</thead>
{% for gratacel in gratacels %}
<tr>
<td>{{gratacel.nom}} </td><td> {{ gratacel.ciutat}} </td><td> {{ gratacel.altura }}m </td><td><a>Esborra</a><a hrf="">Editar</a></td>
</tr>
{% endfor %}
</table>
{% else %}
<p>No ha construit gratacels.</p>
{% endif %}
</body>
</html>

