<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ca" >
<head>

	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jqueryui.css" />
	<script src="http://code.jquery.com/jquery1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jqueryui.js"></script>
	
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="David Hernández, David Canudes, Saida Javierre" />
	{% block head %}	
	<meta name="keywords" content="gratacels, estils, arquitectes, materials" />
	<meta name="description" content="Llista d'arquitectes" />
	<meta name="robots" content="all" />
	<title>Gratacels DataBase: Llista d'arquitectes</title>
	{% endblock %}

	<style type="text/css" title="./currentStyle" media="all">
		@import "/static/global.css";
	</style>
</head>

<body>
<div id="wrapper">
  <div id="head">
    <img class="header_image" src="/static/img/header_image.jpg" alt="Header image"></img>
    <img class="icon" src="/static/img/logo.jpg" alt="Logo"></img>
    <h1>Gratacels</h1>
    <h2>DataBase</h2>
  </div>
  <div id="main">
    <div id="navi">
	{% if user.username %}
		<h2> Benvingut {{ user.username }} </h2>
	{% else %}<a href="/login">Login</a>
	{% endif %}	
	<ul>
	  <li><a href="/">Home</a></li>
	  <li><a href="/gratacels">Gratacels</a></li>
	  <li><a href="/arquitectes">Arquitectes</a></li>
	  <li><a href="/estils">Estils</a></li>
	  <li><a href="/materials">Materials</a></li>
	</ul>
	
   </div>
   <div class="ic"></div>
   <div id="content">
   {% block content%}
	 {% if error_message%} <p><strong>{{error_message}}</strong></p>{% endif %}
   {% endblock %}
   </div>
   <div id="footer"><p> Autors: David Hernández, David Canudes, Saida Javierre </p></div>
</div>

</body>
</html>
