{% extends "base.html"%}

{% block head %}
	<meta name="keywords" content="gratacels, estils, arquitectes, materials" />
	<meta name="description" content="Llista d'estils arquitectònics" />
	<meta name="robots" content="all" />
	<title>Gratacels DataBase: Llista d'estils arquitectònics</title>
{% endblock %}
{% block content %}


<h1>Estils</h1>
{% if estils %}
<table>
<thead>
<tr><td>Nom</td><td>Any Inici</td><td>Any Final</td></tr>
</thead>
{% for estil in estils %}
<tr>
<td><a href="/estil/{{estil.idEstil}}"> {{estil.nom}}</a></td><td> {{estil.dataInici}}</td><td>{{estil.dataFi}}</td>
</tr>
{% endfor %}
</table>
{% else %}
<p>No hi ha estils a la base de dades</p>
{% endif %}
{% endblock %}
