<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="David Hernández, David Canudes, Saida Javierre" />
	<meta name="keywords" content="gratacels, estils, arquitectes, materials" />
	<meta name="description" content="Dades de gratacels" />
	<meta name="robots" content="all" />
	<title>Gratacels DataBase</title>

	<style type="text/css" title="./currentStyle" media="all">
		@import "/static/global.css";
	</style>
	<script type="text/javascript" src="/static/myJs.js"></script>
</head>

<body>
<script type="text/javascript"> capPagina();</script>
<h1>Dades del Estil {{estil.nom}}</h1>
<ul>
<li>Any Inici: {{estil.dataInici}}</li>
<li>Any Fi: {{estil.dataFi}}</li>
</ul>

<h4>Gratacels construits amb el estil:</h4>
{% if gratacels %}
<ol>
{% for gratacel in gratacels %}
<li>
{{gratacel.nom}} - {{ gratacel.ciutat}} - {{ gratacel.altura }}m
</li>
{% endfor %}
</ol>
{% else %}
<p>No hi ha construit gratacels en aquest estil.</p>
{% endif %}
<script type="text/javascript"> peuPagina();</script>
