{% extends "base.html"%}

{% block head %}
	<meta name="keywords" content="gratacels, estils, arquitectes, materials" />
	<meta name="description" content="Dades de gratacel" />
	<meta name="robots" content="all" />
	<title>Gratacels DataBase: {{gratacel.nom}}</title>

	{% endblock %}
{% block content %}

<img id="fotogratacel" src="/static/img/{{gratacel.imatge}}" alt="fotografia del gratacel {{gratacel.nom}}" />

<h1>Dades del Gratacel {{ gratacel.nom }}
	{% if user = gratacel.user %}
		<button onclick="window.location.href='/gratacel/{{gratacel.idGratacel}}/edit/'">
			<img src="/static/img/edit.png" alt="button edit"/>
		</button>
	{% endif %}
</h1>
<ul>
<li> Alçada: {{ gratacel.altura }}m </li>
<li> Alçada Terrat: {{ gratacel.altura_terrat }}m </li>
<li> Num Plantes: {{ gratacel.num_plantes }} </li>
<li> Ciutat: {{ gratacel.ciutat }} </li>
<li> Any Inici: {{ gratacel.any_inici }} </li>
<li> Estil: <a href="/estil/{{estils.idEstil}}">{{ estils.nom }} </a></li>
<li> Posicio del Ranquing Mundial: {{ gratacel.posicio_ranquing }} </li>
</ul>
{% if arquitectes %}
<h2>Arquitectes:</h2>
<table>
<thead>
<tr><td>Nom</td><td>Nacionalitat</td></tr>
</thead>
{% for arquitecte in arquitectes %}
<tr>
<td><a href="/arquitecte/{{arquitecte.idArquitecte}}">{{arquitecte.cognom}}, {{arquitecte.nom}} </a></td><td> {{ arquitecte.nacionalitat }}</td>
</tr>
{% endfor %}
</table>
{% else %}
<p>No te arquitectes associats.</p>
{% endif %}

{% if materials %}

<h2>Materials utilitzats:</h2>
<table>
<thead>
<tr><td>Nom</td></tr>
</thead>
{% for material in materials %}
<tr>
<td><a href="/material/{{material.idMaterial}}">{{material.nom}} </a></td>
</tr>
{% endfor %}
</table>
{% else %}
<p>No te materials associats.</p>
{% endif %}
<h2>Reviews</h2>
<ul>
{% if reviews %}
    {% for review in reviews %}
        <li>
            <p>{{ review.rating }} star{{ review.rating|pluralize }}</p>
            <p>{{ review.comment }}</p>
            <p>Created by {{ review.user }} on {{ review.date }}</p>
        </li>
    {% endfor %}
{% else %}
<p>No te comentaris associats.</p>
{% endif %}
</ul>

<h3>Add Review</h3>
<form action="{% url 'review_create' gratacel.idGratacel %}" method="post">
    {% csrf_token %}
    Message: <textarea name="comment" id="comment" rows="4"></textarea>
    <p>Rating:</p>
    <p>
    {% for rate in RATING_CHOICES %}
        <input type="radio" name="rating" id="rating{{ forloop.counter }}" value="{{ rate.1 }}" />
        <label for="choice{{ forloop.counter }}">{{ rate.1 }} star{{ rate.0|pluralize }}</label><br />
    {% endfor %}
    </p>
    <input type="submit" value="Review" />
</form>
{% endblock %}
