{% extends "base.html"%}

{% block head %}
	<meta name="keywords" content="gratacels, estils, arquitectes, materials" />
	<meta name="description" content="Llista de gratacels" />
	<meta name="robots" content="all" />
	<title>Gratacels DataBase: Llista de gratacels</title>

{% endblock %}
{% block content %}

<h1>Gratacels
	{% if user.username %}
		<button onclick="window.location.href='/gratacels/create/'"><img src="/static/img/add.png" alt="button add"/></button>
	{% endif %}
</h1>
{% if gratacels %}
<table>
<thead>
<tr><td>Nom</td><td>Altura</td><td>Nº Pisos</td><td>Ciutat</td></td><td></tr>
</thead>
{% for gratacel in gratacels %}
<tr>
<td><a href="/gratacel/{{gratacel.idGratacel}}"> {{gratacel.nom}}</a></td><td> {{gratacel.altura}} </td><td>{{gratacel.num_plantes}}</td><td> {{gratacel.ciutat}}</td><td>
	{% if user = gratacel.user %}
		<button onclick="window.location.href='/gratacel/{{gratacel.idGratacel}}/edit/'">
			<img src="/static/img/edit.png" alt="button edit"/>
		</button>
		<button onclick="window.location.href='/gratacel/{{gratacel.idGratacel}}/delete/'">
			<img src="/static/img/delete.png" alt="button delete"/>
		</button>
	{% endif %}</td>
</tr>
{% endfor %}
</table>
{% else %}
<p>No hi ha gratacels a la base de dades</p>
{% endif %}
{% endblock %}
