{% extends "base.html"%}

{% block head %}
	<meta name="keywords" content="gratacels, estils, arquitectes, materials" />
	<meta name="description" content="Llista de gratacels" />
	<meta name="robots" content="all" />
	<title>Gratacels DataBase: Llista de gratacels</title>

{% endblock %}
{% block content %}
<body>
<script type="text/javascript"> capPagina();</script>

<h1>Gratacels
	{% if user.username %}
		(<a href="/gratacels/create/">Afegir Gratacel</a>)
	{% endif %}
</h1>
{% if gratacels %}
<table>
<thead>
<tr><td>Nom</td><td>Altura</td><td>Nº Pisos</td><td>Ciutat</td></tr>
</thead>
{% for gratacel in gratacels %}
<tr>
<td><a href="/gratacel/{{gratacel.idGratacel}}"> {{gratacel.nom}}</a></td><td> {{gratacel.altura}} </td><td>{{gratacel.num_plantes}}</td><td> {{gratacel.ciutat}}
	{% if user = gratacel.user %}
		(<a href="/gratacel/{{gratacel.idGratacel}}/edit/">Editar Gratacel</a>)
	{% endif %}</td>
</tr>
{% endfor %}
</table>
{% else %}
<p>No hi ha gratacels a la base de dades</p>
{% endif %}
{% endblock %}
