{% extends "base.html"%}

{% block head %}
	<meta name="keywords" content="gratacels, estils, arquitectes, materials" />
	<meta name="description" content="Pàgina inicial" />
	<meta name="robots" content="all" />
	<title>Gratacels DataBase: Pàgina inicial</title>
{% endblock %}
{% block content %}
   	  <div class="teaser">
            <img src="/static/img/teaser_image.jpg" alt="Teaser image" />
            	<h2>Aplicació web sobre gratacels</h2>
              <p>Aplicació que permet obtenir dades sobre gratacels, els arquitectes que els han construit, l'estil arquitectònic i els materials utilitzats.</p>
            </div>
            <h2>Desarrollo de aplicación web bàsica.</h2>
            <p>A partir del caso que habeis propuesto, y solo en caso de que el profesorado os haya comunicado que es correcto:
	       Desarrollar, usando Django, una aplicación web básica de acceso a datos (siguiendo el modelo de datos propuesto).<br/><br/>
	       La aplicación ha de:<br/>
		<ol>
	       <li>Permitir listar todas las entidades que forman parte del modelo de datos propuesto.</li>
	       <li>Acceder a los datos individuales de cada instancia de cada una de las entidades.</li>
	       <li>Obtener estos datos en 3 representaciones diferentes:<br/>
	       	a. HTML (web “legible” por el usuario, usando templates).<br/>
	       	b. JSON<br/>
	       	c. XML<br/>
		</li>
	       <li>Todas estas operaciones (listados y acceso individual a cada instancia) deben ser rutas de un API RESTful.</li>
	       <li>Activar la interfaz admin de Django para añadir, modificar y eliminar instáncias.</li>
	       <li>Añadir autenticación y gestión de usuarios (builtin de Django).</li>
		</ol>
	    </p>
{% endblock %}
