<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="David Hernández, David Canudes, Saida Javierre" />
	<meta name="keywords" content="gratacels, estils, arquitectes, materials" />
	<meta name="description" content="Dades de gratacels" />
	<meta name="robots" content="all" />
	<title>Gratacels DataBase</title>

	<style type="text/css" title="./currentStyle" media="all">
		@import "/static/global.css";
	</style>
	<script type="text/javascript" src="/static/myJs.js"></script>
</head>

<body>
<script type="text/javascript"> capPagina();</script>

<h1>Materials</h1>
{% if materials %}
<table>
<thead>
<tr><td>Nom</td><td>Densitat</td><td>Cost</td><tr>
</thead>
{% for material in materials %}
<tr>
<td><a href="/material/{{material.idMaterial}}"> {{material.nom}}</a></td><td> {{material.densitat}} kg/m3</td><td>{{material.cost}} €</td>
</tr>
{% endfor %}
</table>
{% else %}
<p>No hi ha materials a la base de dades</p>
{% endif %}
<script type="text/javascript"> peuPagina();</script>
