<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="David Hernández, David Canudes, Saida Javierre" />
	<meta name="keywords" content="gratacels, estils, arquitectes, materials" />
	<meta name="description" content="Dades de gratacels" />
	<meta name="robots" content="all" />
	<title>Gratacels DataBase</title>

	<style type="text/css" title="./currentStyle" media="all">
		@import "/static/global.css";
	</style>
	<script type="text/javascript" src="/static/myJs.js"></script>
</head>

<body>
<script type="text/javascript"> capPagina();</script>



<h1>Dades del Material {{material.nom}}</h1>
<ul>
<li>Dentitat: {{material.densitat}} kg/m3</li>
<li>Cost: {{material.cost}} €</li>
</ul>

<h2>Gratacels construits amb el material:</h2>
{% if gratacels %}
<ol>
{% for gratacel in gratacels %}
<li>
<a href="/gratacel/{{gratacel.idGratacel}}">{{gratacel.nom}}</a> - {{ gratacel.ciutat}} - {{ gratacel.altura }}m
</li>
{% endfor %}
</ol>
{% else %}
<p>No hi ha construit gratacels en aquest material.</p>
{% endif %}
<script type="text/javascript"> peuPagina();</script>

